* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #A390E4;

	#pontos {
		position: absolute;
		width: 100%;
		z-index: 9999;

		.pontuacao {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			float: right;
			position: relative;
			top: 30px;
			right: 20px;
			width: 150px;
			height: 80px;
			border-radius: 5px;
			border: 2px solid;
			border-top-color: #cd0100;
			border-left-color: #cd0100;
			box-shadow: 4px 5px 4px rgb(0 0 0 / 46%);
			background-color: #fff;

			#pontos-soma {
				border-radius: 3px;
				border-bottom: 2px solid #cd0100;
			}
		}
	}

	.memory-game {
		height: 640px;
		width: 640px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		perspective: 1000px;

		.card {
			height: calc(33.333% - 10px);
			width: calc(25% - 10px);
			margin: 5px;
			position: relative;
			box-shadow: 4px 5px 4px rgb(0 0 0 / 46%);
			border-radius: 5px;
			cursor: pointer;
			transform: scale(1);
			transform-style: preserve-3d; // muda a animacao para o efeito 3d
			transition: transform .9s;

			&:active {
				transform: scale(0.97);
				transition: transform .3s;
			}

			.front-card {
				transform: rotateY(180deg);
			}

			.front-card,
			.back-card {
				width: 100%;
				height: 100%;
				padding: 10px;
				position: absolute;
				border-radius: 5px;
				background-color: #fff;
				backface-visibility: hidden; // propriedade que retira a propriedade de espelhado do elemento
			}

		}

		.card.flip {
			transform: rotateY(180deg);
		}
	}

	#ganhou {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background: #0000005e;
		z-index: 999999999;

		p {
			color: #fff;
			font-size: 30px;
		}

		.btn-reload {
			background-color: #A390E4;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;

			&:hover {
				background-color: #690dfd40;
			}

			&:focus {
				box-shadow: 0 0 0 0.25rem #690dfd40;
			}
		}
	}
}